body {
    font-family: Arial, sans-serif;
    background-color: #F2F4F8;
}

main {
    display: block;
    width: 1050px;
    margin: 0 auto;
    padding: 1em;
    background: white;
    border: 2px solid navy;
}

h1 {
    margin-top: 0;
    color: navy;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #CCCCCC;
    text-align: center;
    vertical-align: middle;
}

h2 {
    text-align: center;
}