body {
    font-family: Arial, sans-serif;
    background-color: #F2F4F8;
}

main {
    display: block;
    width: 1050px;
    margin: 0 auto;
    padding: 1em;
    background: white;
    border: 2px solid navy;
}

h1 {
    margin-top: 0;
    color: navy;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 10px;
    border: 1px solid #CCCCCC;
    text-align: center;
    vertical-align: middle;
}

label {
    width: 10em;
    float: left;
    padding-right: 1em;
    padding-bottom: .5em;
}

#data input {
    float: left;
    width: 15em;
    margin-bottom: .5em;
}

#data span {
    padding: .25em;
}

#buttons input {
    float: left;
    margin-bottom: .5em;
}

br {
    clear: left;
}

h2 {
    text-align: center;
}

